/*Variables*/
element {
    --babyblue = background-color: #89cff0;
    --lightpink = background-color: #ffb6c1;
    --white = background-color: #ffffff;
}

p {
    color: purple; /*vaguely sea green*/
}
div {
}
body {
    background-color: #C6E2FF;
}

/*Classes*/
.Banner {
    background-color: var(--white);
}
.PersonalPage {
    background-color: var(--lightpink);
    //height = 200px;
    width = 400px;
}

