/*Variables*/
element {
    --babyblue = #89cff0;
    --lightpink = #ffb6c1;
    --white = #ffffff;
}

p {
    color: purple; /*vaguely sea green*/
}
div {
}
body {
    background-color: #C6E2FF;
}

/*Classes*/
.Banner {
    background-color: var(--white);
    margin: 10px;
}
.PersonalPage {
    background-color: var(--lightpink);
    /*height = 200px;*/
    width = 400px;
}

